.report-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.report-buttons button {
    border-radius: 5px;
    border: none;
    padding: 10px 16px;
    background-color: #D3191C;
    color: white;
}

.report-results {
  margin-top: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  max-width: 900px;
}

.report-results table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.report-results th {
  background-color: #D3191C;
  color: white;
  padding: 12px 10px;
  text-align: left;
}

.report-results td {
  padding: 10px;
  border-bottom: 1px solid #ddd;  /* row separation */
}

.report-results tr:nth-child(even) {
  background-color: #f2f2f2;      /* zebra striping */
}

.report-results tr:hover {
  background-color: #ffe5e5;      /* subtle hover highlight */
}

.analytics-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: #ffffff;
  min-width: 230px;
  min-height: 120px;
  padding: 25px;
  border: 1px solid #00000037;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 1.4rem;
}

.card p {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.past-orders {
  margin-top: 10px;
  margin-bottom: 10px;
}