@import "tailwindcss";

.kiosk-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.kiosk-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0 0 2rem 0;
  margin-bottom: 4rem;
}

.kiosk-buttons {
  display: flex;
  gap: 6rem;
}

.kiosk-button {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid black;
  border: 2px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
}

.kiosk-button:hover {
  transform: scale(1.05);
}

.kiosk-button img {
  width: 8rem; 
  height: 8rem;
}

.kiosk-logo {
  width: 300px;
  height: auto;
}

.kiosk-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Tutorial button */
.tutorial-btn {
  padding: 15px;
  background: #D3191C;
  color: white;
  border: none;
  border-radius: 8px;
  color: white;
}

.tutorial-btn:hover {
  padding: 15px;
  background: #D3191C;
  color: white;
  border: none;
  border-radius: 8px;
  color: white;
}